<%- include("./partials/header"); -%>
<h1>Compose</h1>
<div>
    <textarea name="paragraph_text" cols="80" rows="10"></textarea>
</div>
<button type="submit">Publish</button>
<%- include("./partials/footer"); -%>
