<%- include("./partials/header"); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
<div>
    <h3>Title</h3>
    <input type="text" name="paragraphHead" cols="80" rows="10" required></input>
</div>
<div>
    <h3>Content</h3>
    <textarea  required rows="5" cols="100" name="paragraphText" ></textarea>
</div>
    <button type="submit" class="button">Publish</button>
</form>
<br>





<%- include("./partials/footer"); -%>
